@media screen and (min-width: 1440px) {
    .hero__text-mobile {
        display: none;
    }

    .hero__button-submite-mobile {
        display: none;
    }

    .completed-projects__img-mobile {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 1439px) {
    [class*="content"] {
        padding-left: 18px;
        padding-right: 18px;
    }

    .header__content {
	    min-height: 57px;
    }

    .header__navigation {
        display: none;
    }

    .header__phone {
        text-decoration-line: none;
        color: #FFF;
        margin-right: 0;
    }

    .header__button {
        display: none;
    }

    .hero {
        min-height: 476px;
        padding-top: 85px;
        padding-bottom: 61px;
    }

    .hero__title {
        font-size: 23px;
        line-height: 132.825%;
    }

    .hero__text-desktop {
        display: none;
    }

    .hero__text {
        font-size: 14px;
        line-height: 135.84%;
        margin-top: 16px;
        margin-bottom: 48px;
    }

    .hero__button {
        width: 339px;
    }
    
    .hero__button_calculate-the-cost {
        margin-bottom: 26px;
    }
    
    .hero__button-submite-desktop {
        display: none;
    }

    .completed-projects__content {
        padding-top: 36px;
    }

    .completed-projects__inf-img-container {
        display: flex;
        flex-direction: column;
    }

    .completed-projects__inf {
        margin-top: 0;
    }

    .completed-projects__title {
        margin-bottom: 22px;
        text-align: center;
        font-size: 22px;
        font-family: Yeseva One;
        line-height: 138.6%;
        letter-spacing: -1.54px;
    }

    .completed-projects__text {
        text-align: center;
        font-size: 11px;
        line-height: 158.48%;
    }

    .completed-projects__img-desktop {
        display: none;
    }
}