@media screen and (min-width: 1440px) {
    .hero__text-mobile {
        display: none;
    }

    .hero__button-submite-mobile {
        display: none;
    }

    .completed-projects__img-mobile {
        display: none;
    }

    .online-control__play-triangle-mobile {
        display: none;
    }

    .online-control__button-mobile {
        display: none;
    }

    .online-control__paragraph-mobile {
        display: none;
    }

    .types-of-repair__styles-img-mobile {
        display: none;
    }

    .contact__map-mobile {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 1439px) {
    [class*="content"] {
        padding-left: 18px;
        padding-right: 18px;
    }

    .header__content {
	    min-height: 57px;
    }

    .header__navigation {
        display: none;
    }

    .header__phone {
        text-decoration-line: none;
        color: #FFF;
        margin-right: 0;
    }

    .header__button {
        display: none;
    }

    .hero {
        min-height: 476px;
        padding-top: 85px;
        padding-bottom: 61px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__title {
        font-size: 23px;
        line-height: 132.825%;
    }

    .hero__text-desktop {
        display: none;
    }

    .hero__text {
        font-size: 14px;
        line-height: 135.84%;
        margin-top: 16px;
        margin-bottom: 48px;
        text-align: center;
    }

    .hero__button {
        width: 339px;
        margin-right: 0;
    }
    
    .hero__button_calculate-the-cost {
        margin-bottom: 26px;
    }
    
    .hero__button-submite-desktop {
        display: none;
    }

    .completed-projects {
        min-height: 0;
        background: #181818;
    }

    .completed-projects__content {
        padding-top: 36px;
    }

    .completed-projects__inf-img-container {
        display: flex;
        flex-direction: column;
    }

    .completed-projects__inf {
        margin-top: 0;
    }

    .completed-projects__title {
        margin-bottom: 22px;
        text-align: center;
        font-size: 22px;
        font-family: Yeseva One;
        line-height: 138.6%;
        letter-spacing: -1.54px;
    }

    .completed-projects__text {
        text-align: center;
        font-size: 11px;
        line-height: 158.48%;
    }

    .completed-projects__img-desktop {
        display: none;
    }

    .completed-projects__img {
        width: 100%;
        height: auto;
        align-self: center;
    }

    .completed-projects__arrows {
        display: none;
    }

    .completed-projects__subtitle {
        margin-bottom: 13px;
        font-size: 14px;
        line-height: 138.6%;
        letter-spacing: 0;
        text-align: start;
    }

    .completed-projects__span {
        font-size: 11px;
        line-height: 135.84%;
    }

    .completed-projects__list {
        display: none;
    }

    .completed-projects__details {
        margin-top: 36.5px;
        max-width: 339px;
        column-gap: 40px;
        row-gap: 27px;
        margin-left: auto;
        margin-right: auto;
    }

    .online-control {
        background: #181818;
        margin-top: 0;
        border: none;
    }

    .online-control__title {
        margin-top: 0;
        margin-bottom: 19px;
    }

    .online-control__video-img {
        width: 100%;
        height: auto;
    }
    
    .online-control__play {
        width: 37px;
        height: 37px;
    }

    .online-control__play-triangle-desktop {
        display: none;
    }

    .online-control__play-triangle-mobile {
        width: 12.19px;
        height: 12.19px;
    }

    .online-control__line-under-video {
        margin: 28px auto 21.5px;
    } 

    .online-control__paragraph {
        font-size: 11px;
        line-height: 169.8%;
    }
    
    .online-control__text {
        color: #FFF;
    }

    .online-control__input-button-wrapper {
        flex-direction: column;
        gap: 63px;
        margin-bottom: 26.5px;
        margin-top: 61px;
    }

    .online-control__input { 
        width: 340px;
        border-bottom: 1px solid #FFF;
        background: #181818;
    }

    .online-control__label {
        color: rgba(255, 255, 255, 0.50);
    }

    .online-control__input::placeholder {
        color: #FFF
    }

    .online-control__button-desktop {
        display: none;
    }

    .text {
        color: #FFF;
    }

    .form-checkbox {
        text-align: start;
    }

    .online-control__form-checkbox {
        margin-top: 0;
    }

    .online-control__form {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .online-control__button {
        width: 340px;
        margin-top: 62.5px;
        margin-bottom: -25.5px;
    }

    .online-control__paragraph-desktop {
        display: none;
    }

    .types-of-repair__examples {
        margin-top: 40px;
        flex-direction: column;
        gap: 59px;
        align-items: center;
    }

    .types-of-repair__list-cost-wrapper {
        margin-left: 0;
    }

    .types-of-repair {
        margin-top: 58px;
    } 

    .types-of-repair__title {
        margin-bottom: 17px;
    }

    .types-of-repair__services-form-wrapper {
        display: none;
    }

    .types-of-repair__img {
        width: 100%;
        height: auto;
    }

    .types-of-repair__styles {
        background: #FFF;
        min-width: auto;
        height: auto;
    }

    .types-of-repair__overlay {
        display: none;
    }

    .types-of-repair__styles-title {
        margin-top: 55px;
        margin-bottom: 24px;
        text-align: center;
        font-size: 22px;
        line-height: 138.6%;
    }

    .types-of-repair__styles-imgs-wrapper {
        display: none;
    }

    .types-of-repair__container {
        display: block;
    }

    .types-of-repair__styles-img-mobile {
        width: 100%;
        max-width: 679px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -102px;
    }

    .types-of-repair__styles-list {
        display: none;
    } 

    .our-clients {
        display: none;
    }

    .contact {
        min-width: 0;
        min-height: 0;
        background: #181818;
    }

    .contact__form {
        width: 100%;
        height: auto;
        margin-top: 173px;
        padding: 0 0;
        background: #181818;
    }

    .contact__form-name-phone {
        display: flex;
        flex-direction: column;
        gap: 63px;
    }

    .contact__input {
        background: #181818;
    }

    .contact__form-input-name, 
    .contact__form-input-phone,
    .contact__form-input-question {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact__form-input-question {
        margin-bottom: 0;
    }
    .contact__form-name-phone {
        margin-bottom: 63px;
    }

    .contact__form-checkbox {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 21.5px;
    }

    .contact__form-button {
        width: 340px;
        margin-top: 67px;
        margin-bottom: 46px;
    }

    .contact__map {
        width: 100%;
        height: auto;
    }

    .contact__map-desktop {
        display: none;
    }

    .contact__address-phone {
        margin-top: 46px;
        margin-bottom: 23.5px;
    }
    
    .contact__address-phone span {
        font-size: 18px;
        font-family: Yeseva One;
        line-height: 138.6%;
    }
    
    .contact__mail-insta-icons {
        margin-bottom: 49px;
    }

    .footer {
        display: none;
    }
}