.body {
	
}

.body * {
	box-sizing: border-box;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
}

[class*="content"] {
  	max-width: 1256px; 
  	margin: auto;
}

.header {
	background: black;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 83px;
	font-size: 11px;
	line-height: 15px;
}

.header__logo {
	color: #E3B873;
	text-transform: uppercase;
}

.header__navigation {
	list-style: none;
	display: flex;
	gap: 47px;
}

.header__navigation-item a {
	text-decoration: none;
	color: white;
}

.header__navigation-item a:hover {
	color: #E3B873;
}

.header__phone {
	text-decoration-line: underline;
	color: #E3B873;
}

.header__button {
	width: 161px;
	height: 37px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 33px;
	color: white;
	text-transform: uppercase;
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}

.hero {
	background-image: url('../img/hero.jpg');
	background-size: cover;
	min-height: 707px;
	padding-top: 194px;
	position: relative;
}

.hero__content {
	position: relative;
	z-index: 1;
}

.hero__overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}

.hero__title {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero__title-span {
	color: #E3B873;
}

.hero__text {
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 40px;
}

.hero__button {
	width: 207px;
	height: 51px;
	border-radius: 2px;
	color: #FFFFFF;
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}

.hero__button_calculate-the-cost {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-width: 0px;
	margin-right: 20px;
}

.hero__button_submit-your-application {
	border: 1px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0); 
}

.completed-projects {
	min-height: 1074px;
	background: #131313;
	background-size: cover;
}

.completed-projects__content {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
}

.completed-projects__inf-img-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	
}

.completed-projects__inf {
	margin-top: 176px;/*
	max-width: 442px;
	min-height: 390px; */
	flex-grow: grow;
	display: flex;
	flex-direction: column;
}

.completed-projects__title {
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 34px;
}

.completed-projects__subtitle {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0;
	margin-bottom: 9px;
}

.completed-projects__details {
	margin-top: 42px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	column-gap: 34px;
	row-gap: 34px;
}

.completed-projects__arrows {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	gap: 29.5px;
}

.completed-projects__circles {
	display: flex;
	flex-direction: row;
	gap: 17px;
}

.completed-projects__circle {
	width: 9.57px;
	height: 9.57px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 30px;
}

.completed-projects__circle:first-child{
	background: #FFFFFF;
}


.completed-projects__text {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}

.completed-projects__span {
	font-size: 13px;
}

.completed-projects__list {
	margin-top: 107px;
	display: flex;
	flex-direction: row;
	gap: 60.5px;
}

.completed-projects__list a {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

.completed-projects__list a:hover {
	text-decoration: underline;
	color: #E3B873;
}

.completed-projects__img {
	margin-top: 52px;
	width: 679px;
 	height: 482px;
	background-image: url('../img/completed-projects__img1.jpg');
}