.body {
	
}

.body * {
	box-sizing: border-box;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
}

[class*="content"] {
  	max-width: 1256px; 
  	margin: auto;
}

[class*="button"]:hover {
  cursor: pointer;
}

.header, .footer {
	background: #181818;
}

.header__content, 
.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 83px;
	font-size: 11px;
	line-height: 15px;
}

.footer__content {
	min-height: 133px;
}

.header__logo, 
.footer__logo {
	color: #E3B873;
	text-transform: uppercase;
}

.header__navigation, 
.footer__navigation {
	list-style: none;
	display: flex;
	gap: 47px;
}

.header__navigation-item a, 
.footer__navigation-item a {
	text-decoration: none;
	color: white;
}

.header__navigation-item a:hover, 
.footer__navigation-item a:hover {
	color: #E3B873;
}

.header__phone, 
.footer__phone {
	text-decoration-line: underline;
	color: #E3B873;
	margin-right: 45px;
}

.header__button, 
.footer__button {
	width: 161px;
	height: 37px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 33px;
	color: white;
	text-transform: uppercase;
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
}

.hero {
	background-image: url('../img/hero.jpg');
	background-size: cover;
	min-height: 707px;
	padding-top: 194px;
	position: relative;
}

.hero__content {
	position: relative;
	z-index: 1;
}

.hero__overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}

.hero__title {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero__title-span {
	color: #E3B873;
}

.hero__text {
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 40px;
}

.hero__button {
	width: 207px;
	height: 51px;
	border-radius: 2px;
	color: #FFFFFF;
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}

.hero__button_calculate-the-cost {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-width: 0px;
	margin-right: 20px;
}

.hero__button_submit-your-application {
	border: 1px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0); 
}

.completed-projects {
	min-height: 1074px;
	background: #131313;
	background-size: cover;
}

.completed-projects__content {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
}

.completed-projects__inf-img-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	
}

.completed-projects__inf {
	margin-top: 176px;
	flex-grow: grow;
	display: flex;
	flex-direction: column;
}

.completed-projects__title {
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 34px;
}

.completed-projects__subtitle {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0;
	margin-bottom: 9px;
}

.completed-projects__details {
	margin-top: 42px;
	max-width: 408px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	column-gap: 34px;
	row-gap: 34px;
}

.completed-projects__arrows {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 29.5px;
}

.completed-projects__circles {
	display: flex;
	flex-direction: row;
	gap: 17px;
}

.completed-projects__circle {
	width: 9.57px;
	height: 9.57px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 30px;
}

.active {
	background: #FFFFFF;
}

.completed-projects__text {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}

.completed-projects__span {
	font-size: 13px;
}

.completed-projects__list {
	margin-top: 107px;
	display: flex;
	flex-direction: row;
	gap: 60.5px;
}

.completed-projects__list a {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

.completed-projects__list a:hover,
.completed-projects__list .list-item_active a {
	text-decoration: underline;
	color: #E3B873;
}

.completed-projects__img {
	margin-top: 52px;
	width: 679px;
 	height: 482px;
	background-image: url('../img/completed-projects__img1.jpg');
	background-size: cover;
}

.title {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}

.online-control__title {
	margin-top: -326px;
	margin-bottom: 13px;
	color: #FFFFFF;
}

.img-line-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.line {
	width: 32px;
    height: 1.54px;
	background-color: #E3B873;
	border-color: #E3B873;
	border-radius: 30px;
	margin-right: 0;
	margin-left: 0;
}


.online-control__video {
	height: fit-content;
	width: fit-content;
	margin-top: 31px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.online-control__video-img {
	position: relative;
	max-width: 817px;
	max-height: 434px;
}

.online-control__overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
}

.online-control__play {
	width: 85px;
	height: 85px;
	background: #E3B873;
	box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
	
	z-index: 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.online-control__play-triangle {
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: end;
}

.online-control__line-under-video {
	width: 55px;
	margin: 62.5px auto 34.5px;
	border-color: #E3B873;
} 

.online-control__text {
	color: #363636;
}

.online-control__paragraph {
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.online-control__form {
	width: 769px;
	margin: 93.5px auto 0;
}

.online-control__input-button-wrapper {
	display: flex;
}

.online-control__label {
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}

.online-control__form-input {
	width: 231px;
	height: 45px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.online-control__form-input-name {
	margin-right: 58px;
}

.online-control__form-input-phone {
	margin-right: 49px;
}

.online-control__input {
	border-style: none;
}

.online-control__input::placeholder {
	font-size: 14px;
	line-height: 23px;
	color: #363636;
}

.online-control__button {
	width: 200px;
	height: 51px;
	background: #E3B873;
	box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	line-height: 27px;
	border-style: none;
}

.online-control__button-play {
  width: 85px;
  height: 85px;
  background: #E3B873;
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  border: none;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.form-checkbox {
	text-align: center;
}

.online-control__form-checkbox {
	margin-top: 39px;
}

.label-checkbox {
	cursor: pointer;
}

.checkbox {
	display: none;
}

.fake {
	display: inline-flex;
	width: 18px;
	height: 18px;
	background: #E3B873;
	color: #fff;
	justify-content: center;
}

.fake::before {
	content:"\2714";
	opacity: 0;
	transition: .2s;
}

.checkbox:checked + .fake::before{
	opacity: 1;
}

.types-of-repair {
	margin-top: 147.5px;
}

.types-of-repair__title {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	margin-bottom: 13px;
}

.types-of-repair__examples {
	margin-top: 31px;
	display: flex;
	justify-content: space-between;
}

.types-of-repair__img {
	max-width: 392px;
	max-height: 421px;
}

.types-of-repair__list-cost-wrapper {
	width:330px;
	margin: -127px auto 0;
	background: #FFFFFF;
	padding-top: 26px;
	position: relative;
	z-index: 1;
}

.types-of-repair__subtitle-list-wrapper {
	margin-left: 34px;
}

.types-of-repair__subtitle {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #363636;
	margin-bottom: 13px;
}

.types-of-repair__list-of-completed-works {
	list-style-type: disc;
	list-style-position: inside;
	font-size: 13px;
	line-height: 27px;
	color: #959595;
}

.types-of-repair__cost {
	margin-top: 23px;
	width: 228px;
	height: 54px;
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 17px;
}

.types-of-repair__services-form-wrapper {
	max-width: 1440px;
	display: flex;
	gap: 131px;
	margin: 134px auto 242px;
	
} 

.types-of-repair__services-form-background {
	background-image: url('../img/types-of-repair__services-background.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.types-of-repeair__services-background {
	width: 703px;
	height: 645px;
	padding-top: 117px;
	padding-right: 79px;
	padding-left: 241px;
	padding-bottom: 54px;
}

.types-of-repair__circle {
	display: flex;
    justify-content: center;
	align-items: center;
    background: rgba(227, 184, 115, 1);
    border: 8px solid #ffffff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    width: 51.76px;
    height: 51.76px;
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    padding-top: 5px;
	flex-shrink: 0;
}

.types-of-repair__services {
	display: flex;
	flex-direction: column;
	gap: 86px;
}

.types-of-repair__service-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 9px;
}

.types-of-repair__service {
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}

.types-of-repair__form {
	width: 506px;
	height: 509px;
	background-color: #131313;
	margin-top: 117px;
	padding: 28px 49px 27px;
	display: flex;
	flex-direction: column;
}

.types-of-repair__form-title {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 39px;
}

.types-of-repair__form-input-wrapper,
.contact__form-input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 48px;

}

.types-of-repair__form-input-name,
.contact__form-input-name,
.contact__form-input-phone,
.contact__form-input-question {
	display: flex;
	flex-direction: column;
}


.types-of-repair__input,
.contact__input {
	border: none;
	font-size: 14px;
	line-height: 23px;
	background:	#131313;
	color: #FFFFFF;
}

.types-of-repair__input::placeholder,
.contact__input::placeholder {
	color: #FFFFFF;
}

.types-of-repair__label,
.contact__label {
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.types-of-repair__form-input, 
.contact__form-input {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.types-of-repair__form-checkbox {
	margin-top: 16px;
	text-align: left;
}

.types-of-repair__checkbox-span,
.contact__checkbox-span {
	font-size: 14px;
	line-height: 163.68%;
	color: #FFFFFF;
}

.types-of-repair__form-button,
.contact__form-button {
	width: 213px;
	height: 51px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	margin-top: 39px;
	align-self: flex-end;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
}

.types-of-repair__form-pig-wrapper {
	display: flex;
	flex-direction: column;
}

.types-of-repair__pig-span-wrapper {
	margin-top: 38.5px;
	margin-left: 31px;
	display: flex;
	gap: 25px;
}

.types-of-repair__pig {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background: #E3B873;
	box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.types-of-repair__span {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
	align-self: center;
}

.types-of-repair__styles {
	background-image: url('../img/types-of-repair__styles-background.jpg');
	min-width: 1440px;
	height: 864px;
	background-size: cover;
	position: relative;
}

.types-of-repair__overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.types-of-repair__container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.types-of-repair__styles-title {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #E3B873;
	margin-top: 137.5px;
	margin-bottom: 47px;

}

.types-of-repair__styles-list {
	margin: 0;
	padding: 0;
	list-style: none;
} 

.types-of-repair__styles-list li {
	margin-bottom: 25px;
}

.types-of-repair__styles-list a {
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
}

.types-of-repair__styles-list a:hover {
	color: #E3B873;
	text-decoration: underline;
}

.types-of-repair__styles-imgs-wrapper {
	display: flex;
	gap: 43px;
}

.types-of-repair__styles-clock-tv-wrapper {
	display: flex;
	flex-direction: column;
	gap: 39px;
	margin-top: -41.16px;
	margin-bottom: -41.2px;
}

.types-of-repair__styles-img-clock {
	width: 354px;
	height: 557.88px;
	background-image: url('../img/types-of-repair__styles-img-clock.jpg');
}

.types-of-repair__styles-img-tv {
	width: 354px;
	height: 349.37px;
	background-image: url('../img/types-of-repair__styles-img-tv.jpg');
}

.types-of-repair__styles-sofa-flower-wrapper {
	display: flex;
	flex-direction: column;
	gap: 36.5px;
	margin-top: -112.53px;
}

.types-of-repair__styles-img-sofa {
	width: 354px;
	height: 275px;
	background-image: url('../img/types-of-repair__styles-img-sofa.jpg');
}

.types-of-repair__styles-img-flower {
	width: 354px;
	height: 624.885px;
	background-image: url('../img/types-of-repair__styles-img-flower.jpg');
}

.our-clients {
	background-image: url("../img/our-clients__background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}

.our-clients__title {
	margin-top: 110.5px;
	margin-bottom: 13px;
	color: #181818;
	text-align: center;
	font-size: 20px;
	font-family: Yeseva One;
	line-height: 138.6%;
	text-transform: uppercase;
}

.our-clients__span-under-title {
	margin-top: 24px;
	margin-bottom: 39px;
	color: #363636;
	text-align: center;
	font-size: 18px;
}

.our-clients__clients {
	display: flex;
	justify-content: space-between;
	margin-bottom: 371px;
}

.our-clients__client {
	width: 376px;
	min-height: 428px;
	padding-top: 24px;
	padding-left: 20px;
	padding-right: 31.5px;
}

.our-clients__photo-name-wrapper {
	display: flex;
	align-items: center;
	gap: 23px;
}

.our-clients__client-photo {
	width: 76px;
	height: 76px;
	border-radius: 76px;
	background: #FFF;
}

.our-clients__maria {
	background-image: url('../img/our-clients__maria.jpg');
}

.our-clients__sergey {
	background-image: url('../img/our-clients__sergey.jpg');
}

.our-clients__egor {
	background-image: url('../img/our-clients__egor.jpg');
}

.our-clients__client-name {
	color: #181818;
	font-size: 18px;
	font-family: Yeseva One;
	line-height: 127.05%;
	font-weight: 400;
}

.our-clients__client-feedback {
	color: #959595;
	font-size: 13px;
	line-height: 180%;
	margin-top: 24px;
}

.our-clients__client-square-time {
	margin-bottom: -27px;
	margin-top: 63px;
	width: 293.753px;
	height: 54px;
	background: #E3B873;
	box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.50);
	display: flex;

}

.our-clients__client-square,
.our-clients__client-time {
	display: flex;
	gap: 14px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.our-clients__client-square {
	width: 135.09px;
	border-right: 1px solid #FFFFFF;
}

.our-clients__client-time {
	margin-left: auto;
	margin-right: auto;
}

.our-clients__client-square-time-text {
	color: #FFF;
	font-size: 17px;
	font-family: Yeseva One;
	line-height: 138.6%;
	text-transform: uppercase;
}

.contact {
	min-width: 1440px;
	min-height: 953.898px;
	background: url('../img/contact__background.jpg');
	background-size: cover;
	position: relative;
}

.contact__content {
	padding: 5px;
	position: relative;
	z-index: 1;
}

.contact__overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.contact__form {
	width: 883px;
	height: 445.319px;
	background: #131313;
	margin-left: auto;
	margin-right: auto;
	margin-top: -222.5px;
	display: flex;
	flex-direction: column;
	padding: 34.4px 181.5px;
	overflow: visible;
}

.contact__form-title {
	margin-bottom: 45.8px;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: Yeseva One;
	line-height: 138.6%;
	text-transform: uppercase;
}

.contact__form-name-phone {
	display: flex;
	gap: 58px;
}

.contact__form-input-name,
.contact__form-input-phone {
	width: 231px;
}

.contact__form-name-phone {
	margin-bottom: 48.5px;
}

.contact__form-input-question {
	margin-bottom: 46.5px;
}

.contact__form-button {
	width: 200px;
	justify-self: end;
	align-self: center;
}

.contact__address-phone {
	margin-top: 52px;
	margin-bottom: 26px;
	text-align: center;
}

.contact__address-phone span {
	color: #E3B873;
	font-size: 20px;
	font-family: Yeseva One;
	line-height: 138.6%;
	text-transform: uppercase;
}

.contact__mail-insta-icons {
	width: 71px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 26px;
}

.contact__map {
	max-width: 925px;
	max-height: 465px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}